
body {
	background-color: #FBFBEF;
}

.logo {
	margin-right: 255px;
}

.imagen-fondo img {
	width: 100%;
	height: 500px;
}

.full-width {
	margin: 0;
	padding: 0;
	width: 100%;
}

.navbar-nav li {
	margin-left: 25px;
}

.contenido {
	margin: 75px;
    margin-left: 150px;
}

.foto-interior {
	height: 370px;
    width: 57%;
}

.imagen-interior {
	height: 370px;
    width: 57%;
}
.block2 {
	margin: 75px;
	margin-left: 100px;
}

.col-block2 {
	margin-right: 50px;
}

footer {
	height: 50px;
	margin-top: 45px;
	background-color: #F5ECCE;
}

.pie-pagina p {
	margin-right: 10px;

}

.footer {
	padding-top: 11px !important;
}


/*Menu*/

.category {
	border: 1px solid grey;
}

.category .btn {
	margin-right: 15px;
	background-color: #F5ECCE;
	border-color: red;
	color: black;
}

#menuButtons {
	height: 55px;
    border: 1px solid lightgray;
}

#menuButtons button {
    margin-top: 10px;
}

.content {
	margin: 80px;
}

.tarjeta {
	width: 400px;
	height: 200px;
	background-color: #F5ECCE;
	margin-left: 55px;
	margin-top: 40px;
	border: 1px solid gray;
	border-radius: 5px;
}

.img-tarjeta {
	width: 100%;
	height: 198px;
}

.description {
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

.title {
	/*white-space: nowrap;
	margin-top: 15px;
	width: 390px;
	text-overflow: ellipsis;
	overflow: hidden;*/

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.price {
	margin-top: 10px;
}

.bebida {
	width: 250px;
	height: 250px;
}

.select-numero {
    height: 30px;
    width: 50px;
    margin-top: 24px
}

.seleccionar {
	margin-top: 48px;
    margin-left: 33px;
}

.pedido {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

hr {
	background-color: #2E2E2E;
}

/*Mapa con marker*/

.contacto {
	margin: 95px;
    margin-left: 195px;
    margin-top: 120px;
}

.full-width {
	width: 100%;
	margin: 0;
	padding: 0;
}

input[type="text"],
	[type="email"],
	[type="tel"] {

	width: 300px;
}

.enviar {
	width: 90px;
    margin-left: 170px;
    margin-top: 10px;
}

.form-group > label {
	font-size: 17px;
}

.cajaMensaje {
	margin-left: 63px;
    width: 60%;
}